#dragDropArea {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    min-height: 200px;
    min-width: 400px;
    text-align: center;
    border-radius: 30px;
}

#dragDropArea p {
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}

#dragDropArea .drag-drop-buttons {
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}

.drag-drop-buttons input {
    margin: auto;
}

.input-field {
    padding: 0.8rem;
    width: 100%;
    border-radius: 100vh;
}

.back-box {
    color: #eeeeee;
    text-align: left;
}
