
#dragDropArea .drag-drop-buttons {
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}

.preview-size-landscape {
    width: 70%;
    height: auto;
}

.preview-size-portrait {
    width: 30%;
    height: auto;
}

.preview-size-square {
    width: 45%;
    height: auto;
}

.drag-drop-buttons input {
    margin: auto;
}

.box {
    height: 100%;
}

.container {
    margin-top: 5rem;
}

.post-btn {
    color: #ffffff;
    background: rgb(99, 190, 245);
    background: linear-gradient(
        90deg,
        rgba(99, 190, 245, 1) 0%,
        rgba(112, 209, 187, 1) 100%
    );
    width: 30%;
    border-radius: 30px;
    margin: 1rem 0;
    margin-bottom: 2rem;
    &:hover {
        color: #999999;
    }
}
